In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [35]:
data = pd.read_csv('Advertising.csv')
data.head(5)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

# 1) Explain the dataset

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [37]:
#checking is there any null values in the data set
data.isnull().sum()

Unnamed: 0    0
TV            0
Radio         0
Newspaper     0
Sales         0
dtype: int64

There is no null values in the entire dataset

# 2) Summary statistics, max, min, avg, median and percentiles

In [38]:
#max value
data.max()

Unnamed: 0    200.0
TV            296.4
Radio          49.6
Newspaper     114.0
Sales          27.0
dtype: float64

In [39]:
#min value
data.min()

Unnamed: 0    1.0
TV            0.7
Radio         0.0
Newspaper     0.3
Sales         1.6
dtype: float64

In [40]:
#average
data.mean()

Unnamed: 0    100.5000
TV            147.0425
Radio          23.2640
Newspaper      30.5540
Sales          14.0225
dtype: float64

In [41]:
#median
data.median()

Unnamed: 0    100.50
TV            149.75
Radio          22.90
Newspaper      25.75
Sales          12.90
dtype: float64

In [42]:
#percentile
#10th percentile
data.quantile(0.1)

Unnamed: 0    20.90
TV            24.88
Radio          3.40
Newspaper      5.99
Sales          7.96
Name: 0.1, dtype: float64

In [43]:
#same as median
data.quantile(0.5)

Unnamed: 0    100.50
TV            149.75
Radio          22.90
Newspaper      25.75
Sales          12.90
Name: 0.5, dtype: float64

In [44]:
#90th percentile
data.quantile(0.9)

Unnamed: 0    180.10
TV            261.44
Radio          43.52
Newspaper      59.07
Sales          21.71
Name: 0.9, dtype: float64

# 3) The manager wants to find out whether the same amount was spent for the three advertisements (TV , Radio and Newspaper)

In [45]:
data1= data.drop('Unnamed: 0',axis= 1)
data1

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

Hypothesis testing:

 H0: same amount was spent on three adv

Ha: Different amount was spent on three adv

In [46]:
f_value,p_value= stats.f_oneway(data1['TV'],data1['Radio'],data1['Newspaper'])
print(f_value,p_value)

358.8514595342597 4.552931539744962e-103

In [47]:
# DF within group
DFW=np.size(data1)-len(data1.columns)
#DF between Group
DFB =len(data1.columns)-1

In [53]:
f_criteria=stats.f.ppf(1-0.05,DFb,DFw)
stats.f.ppf(1-0.05,DFb,DFw)

2.616088956475334

In [54]:
if f_value>f_criteria and p_value<0.05:
    print('Reject H0: same amount was spent on three adv')
else:
    print('Reject H1:Different amount was spent on three adv')

Reject H0: same amount was spent on three adv